<include file="Public/head"/>
<div class="profile-page-1-image">
    <img class="preload-image responsive-image" src="__PUBLIC__/home/images/empty.png" data-original="__PUBLIC__/home/images/1.jpg" alt="img">
    <div class="profile-gradient"></div>
</div>
<div class="content">
	<div class="profile-page-1-header">
	<h1>{$Think.CONFIG.sitename}</h1>
	<div class="gallery-collections">
    <h3 class="half-bottom">大热球队</h3>
    <div class="gallery-collection-item">
        <em><i class="ion-star"></i></em>
        <a href="gallery-round.html">
            <img data-original="__PUBLIC__/home/images/pictures/1t.jpg" class="preload-image" alt="img">
            <img data-original="__PUBLIC__/home/images/pictures/2t.jpg" class="preload-image" alt="img">
            <img data-original="__PUBLIC__/home/images/pictures/3t.jpg" class="preload-image" alt="img">
            <img data-original="__PUBLIC__/home/images/pictures/0t.jpg" class="preload-image" alt="img">
        </a>
        <div class="clear"></div>
    </div>
	</div>
	</div>
</div>
<include file="Public/footer"/>