<include file="Public/head"/>

<div class="profile-page-2 full-bottom">
            <div class="profile-page-2-cover">
                <img class="preload-image responsive-image" data-original="__PUBLIC__/home/images/pictures/9.jpg">
            </div>
            <div class="profile-page-2-thumbnail">
                <img class="preload-image responsive-image" data-original="__PUBLIC__/home/images/pictures/6t.jpg">
            </div>
            <!-- 数据         -->
            <div class="profile-page-2-content">
                <div class="social-count">
                    <h1><strong>13</strong><em>队员</em></h1>
                    <h1><strong>21</strong><em>活动</em></h1>
                    <h1><strong>10k</strong><em>粉丝</em></h1>
                    <div class="clear"></div>
                </div>                
            </div>
            <!-- 公告 -->
            <div class="one-half-responsive">
                <div class="quote-1-left container">
                    <em>
                        今天放假，明天放假，后天放假，以后都不用早起！
                    </em>
                    <a href="#">公告 | 深圳小虎队</a>
                </div>
            </div>
            <!-- 战绩 -->
         <div class="content">
         <h3>球队战绩</h3>
            <ul class="tabs">
                <li class="tab-link current" data-tab="tabs-1">2017</li>
                <li class="tab-link" data-tab="tabs-2">2016</li>
                <li class="tab-link" data-tab="tabs-3">2013</li>
                <li class="tab-link" data-tab="tabs-4">2014</li>
            </ul>
            
            <div id="tabs-1" class="tab-content current">
                <div class="tab-elements">
                 	<div class="profile-page-2-content">
	               	<div class="store-product-rating half-top">
		                <h1>181场</h1>
		            </div>   
	            	<div class="store-product-icons">
		               <i class="">155胜</i><i class="">25负</i><i class="">1平</i>
		            </div>        
	            	</div>
                </div>
            </div>
            <div id="tabs-2" class="tab-content">
                <div class="tab-elements">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>
            </div>
            <div id="tabs-3" class="tab-content">
                <div class="tab-elements">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>
            </div>
            <div id="tabs-4" class="tab-content">
                <div class="tab-elements">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>
            </div>
        </div>
            <!-- 相册 -->
            <div class="heading-strip bg-4">
            <h3>球队相册</h3>
            <p>TEAM PHOTO</p>
            <i class="ion-image"></i>
            <div class="overlay dark-overlay"></div>
        	</div>
            <div class="gallery-blocks">
                <a class="show-gallery" href="__PUBLIC__/home/images/pictures/0.jpg" alt="img" title="Image Caption">
                    <em class="overlay"></em>
                    <strong>备注</strong>
                    <img class="preload-image responsive-image" data-original="__PUBLIC__/home/images/pictures/0t.jpg" alt="img">
                </a>                
                
                <a class="show-gallery" href="__PUBLIC__/home/images/pictures/7.jpg" alt="img" title="Image Caption">
                    <strong>描述</strong>
                    <em class="overlay"></em>
                    <img class="preload-image responsive-image" data-original="__PUBLIC__/home/images/pictures/7t.jpg" alt="img">
                </a>                
                <a class="show-gallery" href="__PUBLIC__/home/images/pictures/8.jpg" alt="img" title="Image Caption">
                    <em class="overlay"></em>
                    <strong></strong>
                    <img class="preload-image responsive-image" data-original="__PUBLIC__/home/images/pictures/8t.jpg" alt="img">
                </a>
            </div>

            
        </div>

            <div class="decoration"></div>
            <a href="#" class="button button-center button-blue button-full">登录</a>
            <a href="#" class="button button-center button-green button-full">注册</a>

<include file = "Public/footer" />