<include file="Public/head"/>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
<include file="Public/header"/>
<include file="Public/sidebar"/>
  <div class="content-wrapper">
          <!-- Content Header (Page header) -->
  <section class="content-header">
        <h1>
        <a href="{:U('index/index')}">{$Think.CONFIG.sitename}</a>
        <small><?php echo date("l jS \of F Y h:i:s A",NOW_TIME) ;?></small>
        </h1>
        <include file="Public/breadcrumbs"/>
        </section>
        <!-- Main content -->
        <section class="content">

<!--------------------------------------统一格式头部 ---------------------------------------------- -->





<?php dump($list); ?>



<div class="box">
  <div class="box-header">
    <h3 class="box-title">球队列表</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <table id="example1" class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>id</th>
        <th>球队名称</th>
        <th>教练</th>
        <th>副教练</th>
        <th>队长</th>
        <th>队委</th>
        <th>发起人</th>
        <th>创建时间</th>
        <th>余额</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <volist name="list" id="val">
      <tr>
        <td>{$val.id}</td>
        <td><a href="{:U('team_info',['id'=>$val['id']])}">{$val.team}</a></td></td>
        <td><a href="{:U('member/member_info',['id'=>$val['coach_id']])}">{$val.coach}</a></td>
        <td><a href="{:U('member/member_info',['id'=>$val['assistant_coach_id']])}">{$val.assistant_coach}</a></td>
        <td><a href="{:U('member/member_info',['id'=>$val['captain_id']])}">{$val.captain}</a></td>
        <td><a href="{:U('member/member_info',['id'=>$val['committee_id']])}">{$val.committee}</a></td>
        <td><a href="{:U('member/member_info',['id'=>$val['leader_id']])}">{$val.leader}</a></td>
        <td>{$val.create_time}</td>
        <td>{$val.balance}</td>
        <td><a href="{:U('edit',array('uid'=>$val['uid']))}">修改</a>&nbsp;
        <if condition="$val['uid'] neq 1"><a class="del" href="javascript:;" val="{:U('del',array('uid'=>$val['uid']))}" title="删除">删除</a></if>
        </td>
      </tr>
      </volist>
      </tbody>
      <tfoot>
      <tr>
        <th>id</th>
        <th>球队名称</th>
        <th>教练</th>
        <th>副教练</th>
        <th>队长</th>
        <th>队委</th>
        <th>发起人</th>
        <th>创建时间</th>
        <th>操作</th>
      </tr>
      </tfoot>
    </table>
    {$page}
  </div>
  <!-- /.box-body -->
</div>





<!--------------------------------------统一格式尾部-------------------------------------- -->
</section>
</div>
<include file="Public/footer"/>
<!-- /.main-container -->
<include file="Public/footerjs"/>
<!-- inline scripts related to this page -->
<!-- -----------------------------------单独js写最后------------------------------------- -->