<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{$current['title']}-{$Think.CONFIG.sitename}</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="keywords" content="{$Think.CONFIG.keywords}"/>
  <meta name="description" content="{$Think.CONFIG.description}"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/styles/style.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/styles/skin.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/styles/framework.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/styles/ionicons.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/styles/woo.css?ver=1134">
<link href="http://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Satisfy" rel="stylesheet">   
<script type="text/javascript" src="__PUBLIC__/home/scripts/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/home/scripts/plugins.js"></script>
<script type="text/javascript" src="__PUBLIC__/home/scripts/custom.js"></script>
</head>

<body>
<div id="page-transitions">
<!-- <div id="page-content" class="bg-cover"> -->
<!--     <div id="page-content-scroll" class="bg-dark">
        <div class="profile-page-1-image">
            <img class="preload-image responsive-image" src="__PUBLIC__/home/__PUBLIC__/home/images/empty.png" data-original="__PUBLIC__/home/__PUBLIC__/home/images/pictures_vertical/bg8.jpg" alt="img">
            <div class="profile-gradient">
              <div class="content">
                <div class="profile-page-1-header">
                    <div class="mobileui-home mobileui-home-4 mobileui-home-circle woo-box-flex">
                      <volist name = "menus" id = "vol">
                        <a href="/{$vol.url}.html"><i class="scale-hover ion-ios-home-outline border-red-dark"></i><em>{$vol.name}</em></a>
                      </volist>
                    </div>
                </div>
            </div>

            </div> -->
        <!-- </div> -->
    
        <!-- <div class="coverpage-clear"></div>         -->
<!--      </div>  
</div>  -->




<div id="page-content">
    <div id="page-content-scroll"><!--Enables this element to be scrolled -->    
               
        <div class="text-slider content-fullscreen">
            <div class="swiper-wrapper">
                <p class="swiper-slide">大热篮球杯2017年5月13日开始报名 ！<a href="#">查看详情</a></p>
                <p class="swiper-slide">深圳小虎队招聘一名教练！<a href="#">查看详情</a></p>
                <p class="swiper-slide">深圳小熊队发布了一场比赛，求应战！<a href="#">查看详情</a></p>
                <p class="swiper-slide">乔丹和姚明加入了深圳大热队！<a href="#">查看详情</a></p>
                <p class="swiper-slide">深圳南山区xxx球场免费体验3天，立即预约 <a href="#">查看详情</a></p>
            </div>
        </div>
        
        <div class="news-slider no-bottom content-fullscreen">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="#" class="news-slider-item">
                        <img class="responsive-image no-bottom" src="__PUBLIC__/home/images/pictures/1.jpg" alt="img">
                        <h3>大热篮球杯2017年5月13日开始报名 ！</h3>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" class="news-slider-item">
                        <img class="responsive-image no-bottom" src="__PUBLIC__/home/images/pictures/2.jpg" alt="img">
                        <h3>深圳小虎队招聘一名教练！</h3>
                    </a>            
                </div>
                <div class="swiper-slide">
                    <a href="#" class="news-slider-item">
                        <img class="responsive-image no-bottom" src="__PUBLIC__/home/images/pictures/3.jpg" alt="img">
                        <h3>深圳小熊队发布了一场比赛，求应战！</h3>
                    </a>
                </div>
            </div>
        </div>
        
        <div class="decoration"></div>
        <div class="content center-woo">
            <volist name = "menus" id="vol">
            <a href="{$vol.url}" class="button-woo button-round-woo button-ghost button-green">{$vol.name}</a> 
            </volist> 
        </div>
        <div class="content">
            <div class="heading-badge border-green-dark">
                <h3 class="bg-green-dark">最热球队和比赛</h3>
            </div>
            <div class="thumb-layout">
                <a href="#">
                    <img class="preload-image" data-original="__PUBLIC__/home/images/pictures/4t.jpg" alt="img">
                    <strong>深圳小虎队</strong>
                    <em>深圳小虎队的口号</em>
                    <em>队长：小明同学</em>
                    <em>队员：99 &nbsp; 粉丝：999</em>
                </a>                
                <a href="#">
                    <img class="preload-image" data-original="__PUBLIC__/home/images/pictures/5t.jpg" alt="img">
                    <strong>深圳小猫队</strong>
                    <em>深圳小猫队的口号是：打倒小虎队</em>
                    <em>队长：小明同学</em>
                    <em>队员：99 &nbsp; 粉丝：999</em>
                    <em>胜场：20 &nbsp;败场：99 &nbsp; 胜率：20%</em>
                </a>                
                <a href="#">
                    <img class="preload-image" data-original="__PUBLIC__/home/images/pictures/6t.jpg" alt="img">
                    <strong>2017大热篮球杯</strong>
                    <em>举办得非常好，999人参加，100支队伍，观众9999人，奖金100万</em>
                </a>     
            </div>
            <div class="decoration"></div>
            <a href="#" class="button button-center button-blue button-full">登录</a>
            <a href="#" class="button button-center button-green button-full">注册</a>
        </div> 
        
        <div class="decoration decoration-margins"></div>
    </div>  
</div>





</div>
</body>
</html>