<include file="Public/head"/>

<div class="profile-page-2 full-bottom">
            <div class="profile-page-2-cover">
                <img class="preload-image responsive-image" data-original="__PUBLIC__/home/images/pictures/9.jpg">
            </div>
            <div class="profile-page-2-thumbnail" id="cm">
                <img class="preload-image responsive-image" data-original="__PUBLIC__/home/images/pictures/6t.jpg">
            </div>
            <!-- 数据         -->
            <div class="profile-page-2-content">
                <div class="social-count">
                    <h1><strong>{$the_team.players}</strong><em>队员</em></h1>
                    <h1><strong>{$the_team.match}</strong><em>比赛</em></h1>
                    <h1><strong>{$the_team.fans}</strong><em>粉丝</em></h1>
                    <div class="clear"></div>
                </div>                
            </div>
            <!-- 公告 -->
            <div class="one-half-responsive">
                <div class="quote-1-left container">
                    <em>
                        {$the_team.slogan}
                    </em>
                    <a href="#">公告 | {$the_team.team}</a>
                </div>
            </div>
            <!-- 球队日程 -->
            
            <!-- 战绩 -->
         <div class="content">
         <h3>球队战绩</h3>
            <ul class="tabs">
                <li class="tab-link current" data-tab="tabs-1">2017</li>
                <li class="tab-link" data-tab="tabs-2">2016</li>
                <li class="tab-link" data-tab="tabs-3">2013</li>
                <li class="tab-link" data-tab="tabs-4">2014</li>
            </ul>
            
            <div id="tabs-1" class="tab-content current">
                <div class="tab-elements">
                    <div class="profile-page-2-content">
                    <div class="store-product-rating half-top">
                        <h1>{$the_team.session2017}场</h1>
                    </div>   
                    <div class="store-product-icons">
                       <i class="">{$the_team.wins2017}胜</i><i class="">{$the_team.lose2017}负</i><i class="">1平</i>
                    </div>        
                    </div>
                </div>
            </div>
            <div id="tabs-2" class="tab-content">
                <div class="tab-elements">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>
            </div>
            <div id="tabs-3" class="tab-content">
                <div class="tab-elements">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>
            </div>
            <div id="tabs-4" class="tab-content">
                <div class="tab-elements">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>
            </div>
        </div>
            <!-- 球队成员 -->

<!--             <div class="heading-strip bg-1">
            <h3>球队成员</h3>
            <p>TEAM PLAYER</p>
            <i class="ion-person"></i>
            <div class="overlay dark-overlay"></div>
            </div> -->
            <p class="category-title"><i class="ion-person"></i>
            球队成员
            <a href="#">See All</a>
            </p>
            <div class="clear"></div>
            <div class="category-slider">
                <div class="swiper-wrapper gallery-round">
                <volist name="the_team.team_member" id="vol">
                    <a class="swiper-slide" href="#">
                        <img class="responsive-image" src="__PUBLIC__/home/images/pictures/3t.jpg" alt="img">
                        <em>{$vol.member}</em>
                    </a>  
                </volist>          
                    <a class="swiper-slide" href="#">
                        <img class="responsive-image" src="__PUBLIC__/home/images/pictures/2t.jpg" alt="img">
                        <em>周杰伦</em>
                    </a>            
                    <a class="swiper-slide" href="#">
                        <img class="responsive-image" src="__PUBLIC__/home/images/pictures/1t.jpg" alt="img">
                        <em>周杰伦</em>
                    </a>            
                    <a class="swiper-slide" href="#">
                        <img class="responsive-image" src="__PUBLIC__/home/images/pictures/3t.jpg" alt="img"><em>周杰伦</em>
                    </a> 
            </div>
            <!-- 相册 -->
            <div class="heading-strip bg-4">
            <h3>球队相册</h3>
            <p>TEAM PHOTO</p>
            <i class="ion-image"></i>
            <div class="overlay dark-overlay"></div>
            </div>
            <div class="gallery-blocks">
                <a class="show-gallery" href="__PUBLIC__/home/images/pictures/0.jpg" alt="img" title="Image Caption">
                    <em class="overlay"></em>
                    <strong>备注</strong>
                    <img class="preload-image responsive-image" data-original="__PUBLIC__/home/images/pictures/0t.jpg" alt="img">
                </a>                
                
                <a class="show-gallery" href="__PUBLIC__/home/images/pictures/7.jpg" alt="img" title="Image Caption">
                    <strong>描述</strong>
                    <em class="overlay"></em>
                    <img class="preload-image responsive-image" data-original="__PUBLIC__/home/images/pictures/7t.jpg" alt="img">
                </a>                
                <a class="show-gallery" href="__PUBLIC__/home/images/pictures/8.jpg" alt="img" title="Image Caption">
                    <em class="overlay"></em>
                    <strong></strong>
                    <img class="preload-image responsive-image" data-original="__PUBLIC__/home/images/pictures/8t.jpg" alt="img">
                </a>
            </div>
        </div>
            <div class="decoration"></div>
                <switch name="is_join.status">
                    <case value="0"><a href="javascript:apply_again();" class="button button-center button-teal button-full">已申请</a></case>                   
                    <case value="1"><a href="javascript:qiut_team();" class="button button-center button-red button-full">退出球队</a></case>
                    <default /><a href="javascript:;" id="apply" class="button button-center button-green button-full">申请加入</a>
                </switch>            
        

            <div class="decoration"></div>
            <div class="decoration"></div>
<script type="text/javascript">
    localStorage.member = 1;localStorage.portrait = 11;
    var member = localStorage.member,portrait = localStorage.portrait,is_invite = "{$the_team.is_invite}",team_id = "{$the_team.id}",team = "{$the_team.team}";
    $('#apply').on('click',function(){
        if(is_invite == 0){
          layer.prompt({
              formType: 2,
              value: '',
              title: '请输入邀请码',
              area: ['200px', '30px'] //自定义文本域宽高
                }, function(value, index, elem){
                  if(!value){
                    layer.msg('邀请码不能为空');
                  }else{
                    // 验证邀请码
                    $.post("{:U('team/verify_code')}",{'invitation_code':value,'team_id':team_id},function(msg){
                        console.log(msg)
                        if(msg.code == 1){
                             var data = {
                                    'team_id':team_id,
                                    'team':team,
                                    'invitation_code':value,
                                    'team_id':team_id,
                                    'portrait':portrait,
                                    'member':member,
                                };
                                $.post("{:U('team/apply')}",data,function(){
                                    }).done(function(a){
                                        layer.close(index);
                                        layer.msg(a.msg)
                                        location.replace(location.href)
                                    });
                        }else{
                            layer.msg(msg.msg)
                        }
                    })
                  }
                  
            }); 
        }
       
    })
    var apply_again = function(){
        layer.msg('请勿重复申请');
    };

    var qiut_team = function(){
        if(confirm('确定退出球队吗？')){
            var data = {
                        'team_id':"{$the_team.id}",
                        'team':"{$the_team.team}"
                    }
            $.post("{:U('team/qiut')}",data,function(){
            }).done(function(a){
                alert(a.msg)
                console.log(a)
            });
        }
    }

  $('#cm').click(function(){
    var index = layer.load(1, {
      shade: [0.1,'#fff'] //0.1透明度的白色背景
    });
     $.get(
      "{:U('Com/_empty')}",
      function success()
      {
        location.reload();
      }
    );
  });
</script>
<!-- <include file = "Public/footer" /> -->